# Cluster analysis for B2B power - Data Importation

This script uses the Python Joblib library in order to load in all the telemetry data at once and prepare the data for further analysis.

# Preparation of the data

In [11]:
# silence warnings
import warnings
warnings.filterwarnings("ignore")

# Import required packages
import pandas as pd
import numpy as np
import joblib 
import os

In [12]:
# Load in all telemetry data at once in a dictionary
files = [x for x in os.listdir('.') if x.endswith('.p')]

fns = [os.path.splitext(os.path.basename(x))[0] for x in files]

d = {}
for i in range(len(fns)):
    d[fns[i]] = joblib.load(files[i])

dict(list(d.items())[0:1])

{'df_telemetry_871685900000000059':                      power
 datetime
 2019-01-01 00:00:00  -2324
 2019-01-01 01:00:00  -2220
 2019-01-01 02:00:00  -2192
 2019-01-01 03:00:00  -2168
 2019-01-01 04:00:00  -2056
 ...                    ...
 2021-12-31 19:00:00  -2268
 2021-12-31 20:00:00  -2228
 2021-12-31 21:00:00  -2036
 2021-12-31 22:00:00  -1972
 2021-12-31 23:00:00  -1780

 [26304 rows x 1 columns]}

In [13]:
# transform dictionary to a dataframe
df = pd.DataFrame.from_dict({(i,j): d[i][j] 
                           for i in d.keys() 
                           for j in d[i].keys()},
                       orient='index')

df.head()

,,2019-01-01 00:00:00,2019-01-01 01:00:00,2019-01-01 02:00:00,2019-01-01 03:00:00,2019-01-01 04:00:00,2019-01-01 05:00:00,2019-01-01 06:00:00,2019-01-01 07:00:00,2019-01-01 08:00:00,2019-01-01 09:00:00,...,2021-12-31 14:00:00,2021-12-31 15:00:00,2021-12-31 16:00:00,2021-12-31 17:00:00,2021-12-31 18:00:00,2021-12-31 19:00:00,2021-12-31 20:00:00,2021-12-31 21:00:00,2021-12-31 22:00:00,2021-12-31 23:00:00
df_telemetry_871685900000000059,power,-2324.0,-2220.0,-2192.0,-2168.0,-2056.0,-1964.0,-1780.0,-1656.0,-1616.0,-1592.0,...,-2472.0,-2432.0,-2292.0,-2220.0,-2292.0,-2268.0,-2228.0,-2036.0,-1972.0,-1780.0
df_telemetry_871685900000000066,power,-16.0,-20.0,-20.0,-16.0,-20.0,-20.0,-20.0,-16.0,-20.0,-16.0,...,-12.0,-12.0,-16.0,-12.0,-16.0,-12.0,-16.0,-16.0,-12.0,-16.0
df_telemetry_871685900000000103,power,-104.0,-108.0,-108.0,-120.0,-364.0,-592.0,-540.0,-1324.0,-3212.0,-3396.0,...,-5764.0,-4752.0,-5300.0,-4924.0,-5328.0,-4640.0,-3504.0,-880.0,-904.0,-832.0
df_telemetry_871685900000000110,power,-1272.0,-1320.0,-1100.0,-1184.0,-1444.0,-1752.0,-2272.0,-3660.0,-5192.0,-5784.0,...,-10420.0,-9452.0,-10888.0,-9848.0,-7836.0,-5464.0,-3052.0,-820.0,-592.0,-528.0
df_telemetry_871685900000000127,power,-284.0,-256.0,-872.0,-552.0,-284.0,-2164.0,-2980.0,-1560.0,-1824.0,-1732.0,...,-868.0,-876.0,-732.0,-816.0,-1208.0,-892.0,-672.0,-156.0,-100.0,-100.0

In [14]:
# reset index | drop level_1 and rename first column
df = df.reset_index(level=[0,1]).drop('level_1', 1)
df = df.rename(columns={ df.columns[0]: "Telemetry ID" })

df.head()

,Telemetry ID,2019-01-01 00:00:00,2019-01-01 01:00:00,2019-01-01 02:00:00,2019-01-01 03:00:00,2019-01-01 04:00:00,2019-01-01 05:00:00,2019-01-01 06:00:00,2019-01-01 07:00:00,2019-01-01 08:00:00,...,2021-12-31 14:00:00,2021-12-31 15:00:00,2021-12-31 16:00:00,2021-12-31 17:00:00,2021-12-31 18:00:00,2021-12-31 19:00:00,2021-12-31 20:00:00,2021-12-31 21:00:00,2021-12-31 22:00:00,2021-12-31 23:00:00
0,df_telemetry_871685900000000059,-2324.0,-2220.0,-2192.0,-2168.0,-2056.0,-1964.0,-1780.0,-1656.0,-1616.0,...,-2472.0,-2432.0,-2292.0,-2220.0,-2292.0,-2268.0,-2228.0,-2036.0,-1972.0,-1780.0
1,df_telemetry_871685900000000066,-16.0,-20.0,-20.0,-16.0,-20.0,-20.0,-20.0,-16.0,-20.0,...,-12.0,-12.0,-16.0,-12.0,-16.0,-12.0,-16.0,-16.0,-12.0,-16.0
2,df_telemetry_871685900000000103,-104.0,-108.0,-108.0,-120.0,-364.0,-592.0,-540.0,-1324.0,-3212.0,...,-5764.0,-4752.0,-5300.0,-4924.0,-5328.0,-4640.0,-3504.0,-880.0,-904.0,-832.0
3,df_telemetry_871685900000000110,-1272.0,-1320.0,-1100.0,-1184.0,-1444.0,-1752.0,-2272.0,-3660.0,-5192.0,...,-10420.0,-9452.0,-10888.0,-9848.0,-7836.0,-5464.0,-3052.0,-820.0,-592.0,-528.0
4,df_telemetry_871685900000000127,-284.0,-256.0,-872.0,-552.0,-284.0,-2164.0,-2980.0,-1560.0,-1824.0,...,-868.0,-876.0,-732.0,-816.0,-1208.0,-892.0,-672.0,-156.0,-100.0,-100.0

In [15]:
# to make it more logic, make all numbers positive 
df.iloc[:,1:] = df.iloc[:,1:] * -1

df.head()

,Telemetry ID,2019-01-01 00:00:00,2019-01-01 01:00:00,2019-01-01 02:00:00,2019-01-01 03:00:00,2019-01-01 04:00:00,2019-01-01 05:00:00,2019-01-01 06:00:00,2019-01-01 07:00:00,2019-01-01 08:00:00,...,2021-12-31 14:00:00,2021-12-31 15:00:00,2021-12-31 16:00:00,2021-12-31 17:00:00,2021-12-31 18:00:00,2021-12-31 19:00:00,2021-12-31 20:00:00,2021-12-31 21:00:00,2021-12-31 22:00:00,2021-12-31 23:00:00
0,df_telemetry_871685900000000059,2324.0,2220.0,2192.0,2168.0,2056.0,1964.0,1780.0,1656.0,1616.0,...,2472.0,2432.0,2292.0,2220.0,2292.0,2268.0,2228.0,2036.0,1972.0,1780.0
1,df_telemetry_871685900000000066,16.0,20.0,20.0,16.0,20.0,20.0,20.0,16.0,20.0,...,12.0,12.0,16.0,12.0,16.0,12.0,16.0,16.0,12.0,16.0
2,df_telemetry_871685900000000103,104.0,108.0,108.0,120.0,364.0,592.0,540.0,1324.0,3212.0,...,5764.0,4752.0,5300.0,4924.0,5328.0,4640.0,3504.0,880.0,904.0,832.0
3,df_telemetry_871685900000000110,1272.0,1320.0,1100.0,1184.0,1444.0,1752.0,2272.0,3660.0,5192.0,...,10420.0,9452.0,10888.0,9848.0,7836.0,5464.0,3052.0,820.0,592.0,528.0
4,df_telemetry_871685900000000127,284.0,256.0,872.0,552.0,284.0,2164.0,2980.0,1560.0,1824.0,...,868.0,876.0,732.0,816.0,1208.0,892.0,672.0,156.0,100.0,100.0

In [16]:
# create df that we will scale without id column
df_scaled = df.iloc[:,1:]

df_scaled.head()

,2019-01-01 00:00:00,2019-01-01 01:00:00,2019-01-01 02:00:00,2019-01-01 03:00:00,2019-01-01 04:00:00,2019-01-01 05:00:00,2019-01-01 06:00:00,2019-01-01 07:00:00,2019-01-01 08:00:00,2019-01-01 09:00:00,...,2021-12-31 14:00:00,2021-12-31 15:00:00,2021-12-31 16:00:00,2021-12-31 17:00:00,2021-12-31 18:00:00,2021-12-31 19:00:00,2021-12-31 20:00:00,2021-12-31 21:00:00,2021-12-31 22:00:00,2021-12-31 23:00:00
0,2324.0,2220.0,2192.0,2168.0,2056.0,1964.0,1780.0,1656.0,1616.0,1592.0,...,2472.0,2432.0,2292.0,2220.0,2292.0,2268.0,2228.0,2036.0,1972.0,1780.0
1,16.0,20.0,20.0,16.0,20.0,20.0,20.0,16.0,20.0,16.0,...,12.0,12.0,16.0,12.0,16.0,12.0,16.0,16.0,12.0,16.0
2,104.0,108.0,108.0,120.0,364.0,592.0,540.0,1324.0,3212.0,3396.0,...,5764.0,4752.0,5300.0,4924.0,5328.0,4640.0,3504.0,880.0,904.0,832.0
3,1272.0,1320.0,1100.0,1184.0,1444.0,1752.0,2272.0,3660.0,5192.0,5784.0,...,10420.0,9452.0,10888.0,9848.0,7836.0,5464.0,3052.0,820.0,592.0,528.0
4,284.0,256.0,872.0,552.0,284.0,2164.0,2980.0,1560.0,1824.0,1732.0,...,868.0,876.0,732.0,816.0,1208.0,892.0,672.0,156.0,100.0,100.0

In [8]:
df.to_csv('telemetrie.csv', encoding='utf-8')